/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

html {
  font-size: 1.125em;     /*18px / 16px = 1.125em*/
  line-height: 1.222em;   /*22px is 1 gridline at 18px | 22px / 18px = 1.222em*/
  background-color: #fafafa;
  color: #222;
  font-family: Helvetica;
}

h1 {
  font-size: 1.728em;  /*31.104px / 18px = 1.728em*/
  line-height: 1.4146; /*44px gridline at 31.104px | 44px / 31.104px = 1.4146em*/
}

h2 {
  font-size: 1.44em;     /*25.92px /18px = 1.44em*/
  line-height: 1.2731em; /*33px = 1.5 gridline at 25.92px*/
  padding-top: 0.8487654em; /*One gridline to top | 11px / 25.92px = 0.42438em*/
}

h3 {
  font-size: 1.2em; /*21.6px / 18px = 1.2em*/
  line-height: 1.0185em; /*1 gridline at 21.6px | 22px / 21px =1.0185*/
}

a {
  text-decoration: none;
}

ul {
  padding-bottom: 1.222em; /*1 gridline (22px)*/
}

li {
  padding-bottom: 0.611em; /*11px Half of a gridline*/
}

li:last-child { /*The last element in unordered list does not have padding*/
  padding-bottom: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

footer {
  padding-top: 2.44444em; /*Two gridlines of padding*/
}

/* ===== LAYOUT STYLES ===== */

video {
  padding-top: 1.22222em; /*One gridline of padding*/
}

.photo {
  margin-left: -0.91666667em;
  margin-right: -0.91666667em;
}

#page {
  padding: 1.222em 0.91666667em; /*one gridline and 16.5px to achieve minor third: (4/3) (22/16.5px)*/
}

nav {
  position: absolute; /*The navbar stays at the top of the page, not visible after scrolling*/
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0.11111em 0.27778em rgba(0,0,0,0.26); /*The shadow of the navigation bar 4px down, 8px blur radius*/
  /*box-sizing: border-box;*/
  background: #607d8b;
  height: 3.55555em; /* height of the navigation box 64px/18em = 3.555em | 64 = 23+18+23*/
}

/* ===== MODULAR STYLES ===== */
.nav li {
  float: left;
  width: 33.33333333%; /*3 links in nav bar = 1/3 of width of navbar per link*/
  list-style-type: none;
  padding-bottom: 0;
}

.contact-info li {
  list-style-type: none;
  margin-left: -0.91666667em; /*16.5px / 18px = 0.916*/
}

.pets ul li {    /*Elimates the bullet points from the images*/
  list-style-type: none;
  margin-left: -0.91666667em; /*16.5px / 18px = 0.916*/
}

/*
.nav {
  display: block;
  margin-left: 0;
  padding-bottom: 0;
}
*/

.nav a {
  display: block;
  text-align: center;
  line-height: 1;
  background-color: #607d8b;
  padding: 1.2777778em 0.333em 1.1666667em 0.333em; /* 23px 6px 21px 6px @ 18px/em | 21px to leave room for the white line underneath the links*/
  color: #e5e5e5;
  border-bottom: 0.11111111em transparent; /*Transparent bar to activate when selected | 2px / 18px = 0.1111em*/
}

.content {
  padding-top: 3.55555em; /*Height of the navigation bar*/
}

.content ul {
  list-style-type: disc;
  padding-left: 0.91666667em; /*16.5px / 18px = 0.916*/
}

.content ul li ul {
  list-style-type: circle;
}

.content ul li ul li ul {
  list-style-type: square;
}

.content ul li:first-child {
  padding-top: 0.61111em;  /*11px / 18 px = 0.6111em*/
}

.content ul:last-child {
  padding-bottom: 0;
}

/*.content ul li ul li:first-child {
  padding-top: 0.61111em;
}*/

.pets figcaption {
  padding-left: 0.91666667em; /*16.5px / 18px = 0.916*/
}

/* ===== STATE STYLES ===== */

.active a {
  color: #fff;
  font-weight: 500;
  border-bottom: 0.11111111em solid #fff; /*Activate the bottom border to white when selected*/
}
